svg {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    #boardArea {
        flex-direction: column;
    }

    #movesArea {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        width: 100%;
        margin-right: 1.5rem;
        height: 110px;
        margin-bottom: 1rem;
        max-height: 200px;
        max-width: 400px;
    }

    #captureArea {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: 50px;
        margin-bottom: 0.5rem;
        max-height: 100px;
        max-width: 400px;
    }

    #moveLog {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    #moveul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #capul {
        width: 80%;
    }

    #moveLog li{
        flex-basis: 16.6%;
        margin-bottom: 0.1rem;
    }

    #capLog {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #capul li {
        flex-basis: 50%;
        margin-bottom: 0.1rem;
    }
}

@media only screen and (min-width: 700px) {

    #movesArea {
        height: 70vh;
        width: 25vw;
        max-width: 140px;
    }

    #captureArea {
        height: 70vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        align-items: center;
        max-width: 150px;
    }

    #moveLog {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 180px;
    }

    #moveul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #capul li {
        margin-bottom: 0.25rem;
    }

    #moveLog li{
        margin-bottom: 0.25rem;
        flex-basis: 50%;
    }

    #low-buttons {
        margin-top: 1rem;
    }
}